@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ICorsoLaurea

@{
    ViewData["Title"] = "Info Corso";
}

<h5>Codice:</h5>
@Model.Codice
<h5>Descrizione:</h5>
@Model.Descrizione
<br />
@if (@Model.CodEsami.Count != 0)
{
    <h5>Piano di studi:</h5>
    <ul>
        @foreach (string codEsame in Model.CodEsami)
        {
            <li><a asp-area="" asp-controller="Corso" asp-action="DetailEsame" asp-route-id="@codEsame">@codEsame</a></li>
        }
    </ul>
    <p>N totale esami: @Model.CodEsami.Count</p>
    <br />
}
else
{
    <h2>Nessun esame presente nel corso</h2>
}
<a asp-area="" asp-controller="Corso" asp-action="Index">
    <input type="button" value="Torna alla lista" />
</a>
