@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEsame

@{
    ViewData["Title"] = "Dettagli Esame";
}

<h3>Codice:</h3>
<strong>@Model.Codice</strong>
<h3>Descrizione:</h3>
@Model.Descrizione
<h3>Codice - Nome professore:</h3>
@Model.Titolare.NomeCompleto - <strong>@Model.Titolare.Codice</strong>
<br />
@if (@Model.Assistenti.Count != 0)
{
    <h3>Assistenti professore:</h3>
    <ul>
        @foreach (string assistente in Model.Assistenti)
        {
            <li>@assistente</li>
        }
    </ul>
    <p>N totale assistenti: @Model.Assistenti.Count</p>
    <br />
}
else
{
    <h4>Nessun assistente al professore</h4>
}
@if (@Model.Appelli.Count != 0)
{
    <h3>Appelli disponibli:</h3>
    <ul>
        @foreach (IAppello appello in Model.Appelli)
        {
            <li>Esame: <strong>@appello.Codice</strong></li>
            <li>Data: @appello.Data</li>
            <li>Tipo appello: @appello.TipoAppello</li>
        }
    </ul>
    <p>N totale appelli: @Model.Appelli.Count</p>
    <br />
}
else
{
    <h2>Nessun Appello al momento disponibile</h2>
}
<a asp-area="" asp-controller="Corso" asp-action="Esami">
    <input type="button" value="Torna alla lista" />
</a>
