@model ICorsoLaurea

@{
    ViewData["Title"] = "Info Corso";
}

<h3>Codice:</h3>
<strong>@Model.Codice</strong><br />
<h3>Descrizione:</h3>
@Model.Descrizione<br />
@if (@Model.CodEsami.Count != 0)
{
    <h5>Piano di studi:</h5>
    <ul>
        @foreach (string codEsame in Model.CodEsami)
        {
            <li>
                <a asp-area="" asp-controller="Corso" asp-action="DetailEsame" asp-route-id="@codEsame">
                    <strong>@codEsame</strong>
                    </a>
                    </li>
        }
    </ul>
    <p>N totale esami: @Model.CodEsami.Count</p>
    <br />
}
else
{
    <h4>Nessun esame presente nel corso</h4>
}
<a asp-area="" asp-controller="Corso" asp-action="Index">
    <input type="button" value="Torna alla lista" />
</a>
