@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IStudente

@{
    ViewData["Title"] = "Info studente";
}

<h4>Nome completo:</h4>
@Model.NomeCompleto <br />
<h4>Matricola:</h4>
<strong>@Model.Matricola</strong> <br />
<h4>Corso in cui è iscritto:</h4>
<a asp-area="" asp-controller="Corso" asp-action="Detail" asp-route-id="@Model.CorsoIscritto">@Model.CorsoIscritto</a>
@if(Model.Libretto.Voti.Count != 0){
    <h4>Tipologia libretto:</h4>
    @Model.Libretto.Type
    <br />
    <h4>Libretto valutazioni:<br /></h4>
    <p><strong>Appello</strong> - Valutazione</p>
    <ol>
    @foreach (var valutazione in Model.Libretto.Voti)
    {
        <li><strong>@valutazione.Appello</strong> --- @valutazione.Voto</li>
    }
    </ol>
    <p>N totale valutazioni: @Model.Libretto.Voti.Count</p>
}
else
{
    <h5>Nessun esame superato</h5>
}
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Index">
    <input type="button" value="Torna alla lista studenti" />
</a>