@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IStudente

@{
    ViewData["Title"] = "Info studente";
}

<h3>Nome completo:</h3>
@Model.NomeCompleto <br />
<h3>Matricola:</h3>
<strong>@Model.Matricola</strong> <br />
<h3>Corso in cui è iscritto:</h3>
<a asp-area="" asp-controller="Corso" asp-action="Detail" asp-route-id="@Model.CorsoIscritto">@Model.CorsoIscritto</a>
@if(Model.Libretto.Voti.Count != 0){
    <h5>Tipologia libretto:</h5>
    @Model.Libretto.Type
    <br />
    <h5>Libretto valutazioni:<br /><strong>Appello</strong> - Valutazione</h5>
    <ol>
    @foreach (var valutazione in Model.Libretto.Voti)
    {
        <li><strong>@valutazione.Appello</strong> --- @valutazione.Voto</li>
    }
    </ol>
    <p>N totale valutazioni: @Model.Libretto.Voti.Count</p>
}
else
{
    <h4>Nessun esame superato</h4>
}
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Index">
    <input type="button" value="Torna alla lista studenti" />
</a>