@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<IStudente>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Elenco studenti</h1>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Matricola</th>
            <th>Nome</th>
            <th>Corso</th>
            <th>Esami superati</th>
            <th>Dettaglio</th>
        </tr>
    </thead>
    <tbody>
        @foreach(IStudente studente in Model)
        {
            <tr>
                <td><strong>@studente.Matricola</strong></td>
                <td>@studente.NomeCompleto</td>
                <td><a asp-area="" asp-controller="Corso" asp-action="Detail" asp-route-id="@studente.CorsoIscritto">@studente.CorsoIscritto</a></td>
                <td>@studente.Libretto.Voti.Count</td>
                <td>
                    <a asp-area="" asp-controller="Studente" asp-action="Dettaglio" asp-route-id="@studente.Matricola">
                        Dettaglio
                    </a>
                 </td>
            </tr>
        }
    </tbody>
</table>
<br />
@{
    List<string> codEsami = new();
}
@foreach(IStudente studente in Model)
{    
    @if (!codEsami.Contains(studente.CorsoIscritto))
    {
        codEsami.Add(studente.CorsoIscritto);
    }
}
@foreach(string codEsame in codEsami)
{
    <h5>Studenti iscritti al corso 
        <a asp-area="" asp-controller="Corso" asp-action="Detail" asp-route-id="@codEsame">@codEsame:</a></h5>
    <ol>
    @foreach (IStudente studente in Model)
    {
            @if (studente.CorsoIscritto == codEsame)
            {
                <li>@studente.NomeCompleto</li>
            }
    }
    </ol>
    <br />
}